h2{
    text-align: center;
    margin-top: 150px;
}
input{
    margin-top: 10px;
    width: 100px;  
}
label{
    margin-left: calc( ( 100% - 280px ) / 2 );
}
#setup{
    width: 227px;
}
#punchline{
    width: 200px;
}
#add{
    margin-left: calc( ( 100% - 100px ) / 2 );
}